@import "./utils/variables";
@import "./utils/base";
@import "./utils/placeholder";

@import "./components/logo";
@import "./components/nav";
@import "./components/contacts";
@import "./components/button";
@import "./components/title";
@import "./components/link";
@import "./components/list";
@import "./components/icon";
@import "./components/social";
@import "./components/modal";
@import "./components/form";
@import "./components/develop";
@import "./components/projects";
@import "./components/footer-form";

@import "./layouts/header";
@import "./layouts/container";
@import "./layouts/section";
@import "./layouts/banner";
@import "./layouts/footer";
@import "./layouts/backdrop";
