<section class="directions section">
  <div class="container">
    <h2 class="section-title">Чем мы занимаемся</h2>
    <ul class="section-list list">
      <li class="directions-item">
        <img
          src="./images/laptopopti.jpg"
          alt="Десктопные приложения"
          width="370"
          height="294"
        />
        <h3>Десктопные приложения</h3>
      </li>
      <li class="directions-item">
        <img
          src="./images/mobileappopti.jpg"
          alt="Мобильные приложения"
          width="370"
          height="294"
        />
        <h3>Мобильные приложения</h3>
      </li>
      <li class="directions-item">
        <img
          src="./images/designdecisionopti.jpg"
          alt="Дизайнерские решения"
          width="370"
          height="294"
        />
        <h3>Дизайнерские решения</h3>
      </li>
    </ul>
  </div>
</section>
