<footer>
  <section class="section footer">
    <div class="container-footer container">
      <div class="address">
        <a href="./index.html" class="logo logowhite"
          ><span class="web">Web </span>Studio</a
        >
        <address class="footer-addres">
          <span class="address-kiev">г. Киев, Бульвар Леси Украинки, д. 26</span
          ><br />
          <a href="#" class="footer-contacts">info@devstudio.com</a><br />
          <a href="tel:+380961111111" class="footer-contacts"
            >+38 096 111 11 11</a
          >
        </address>
      </div>
      <div class="footer-links">
        <b class="join-us">присоединяйтесь</b>
        <ul class="footer-list list">
          <li class="footer-item">
            <a href="" class="footer-socials" aria-label="ссылка на instagram">
              <svg class="footer-icon">
                <use href="./images/sprite.svg#icon-instagramw"></use></svg
            ></a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-socials" aria-label="ссылка на twitter">
              <svg class="footer-icon">
                <use href="./images/sprite.svg#icon-twitterw"></use></svg
            ></a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-socials" aria-label="ссылка на facebook">
              <svg class="footer-icon">
                <use href="./images/sprite.svg#icon-facebookw"></use></svg
            ></a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-socials" aria-label="ссылка на linkedin">
              <svg class="footer-icon">
                <use href="./images/sprite.svg#icon-linkedinw"></use></svg
            ></a>
          </li>
        </ul>
      </div>
      <div class="subscribe">
        <b class="join-us">Подпишитесь на рассылку</b>
        <form class="subscribe-form">
          <!-- <label for="email"></label> -->
          <input type="email" name="email" placeholder="E-mail" />
          <button type="submit" class="subscribe-button button">
            Подписаться
          </button>
        </form>
      </div>
    </div>
  </section>
</footer>
