<section class="section">
  <div class="container">
    <h1 class="hidden">портфолио</h1>
    <!-- кнопки -->
    <ul class="buttons list">
      <li class="buttons-item">
        <button class="buttons-portfolio" type="button">Все</button>
      </li>
      <li class="buttons-item">
        <button class="buttons-portfolio" type="button">Веб-сайты</button>
      </li>
      <li class="buttons-item">
        <button class="buttons-portfolio" type="button">
          Приложения
        </button>
      </li>
      <li class="buttons-item">
        <button class="buttons-portfolio" type="button">Дизайн</button>
      </li>
      <li class="buttons-item">
        <button class="buttons-portfolio" type="button">Маркетинг</button>
      </li>
    </ul>
    <!-- виды работ -->
    <ul class="projects list">
      <li class="projects-item">
        <a href="">
          <div class="projects-thumb">
            <img
              src="./images/tehnoopti.jpg"
              class="projects-image"
              alt="технокряк"
              width="370"
              height="294"
            />
            <p class="projects-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="projects-works">
            <h2 class="projects-title">Технокряк</h2>
            <p class="projects-type">Веб-сайт</p>
          </div>
        </a>
      </li>
      <li class="projects-item">
        <a href="">
          <div class="projects-thumb">
            <img
              src="./images/new-orleanopti.jpg"
              class="projects-image"
              alt="постер Нью Орлеан"
              width="370"
              height="294"
            />
            <p class="projects-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="projects-works">
            <h2 class="projects-title">
              Постер New Orlean vs Golden Star
            </h2>
            <p class="projects-type">Дизайн</p>
          </div>
        </a>
      </li>
      <li class="projects-item">
        <a href="">
          <div class="projects-thumb">
            <img
              src="./images/seafoodopti.jpg"
              class="projects-image"
              alt="ресторан морепродукты"
              width="370"
              height="294"
            />
            <p class="projects-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="projects-works">
            <h2 class="projects-title">Ресторан Seafood</h2>
            <p class="projects-type">Приложение</p>
          </div>
        </a>
      </li>
      <li class="projects-item">
        <a href="">
          <div class="projects-thumb">
            <img
              src="./images/headphonesopti.jpg"
              class="projects-image"
              alt="проект Прайм"
              width="370"
              height="294"
            />
            <p class="projects-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="projects-works">
            <h2 class="projects-title">Проект Prime</h2>
            <p class="projects-type">Маркетинг</p>
          </div>
        </a>
      </li>
      <li class="projects-item">
        <a href="">
          <div class="projects-thumb">
            <img
              src="./images/boxesopti.jpg"
              class="projects-image"
              alt="проект коробки"
              width="370"
              height="294"
            />
            <p class="projects-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="projects-works">
            <h2 class="projects-title">Проект Boxes</h2>
            <p class="projects-type">Приложение</p>
          </div>
        </a>
      </li>
      <li class="projects-item">
        <a href="">
          <div class="projects-thumb">
            <img
              src="./images/inspiration-has-no-bordersopti.jpg"
              class="projects-image"
              alt="Вдохновение не имеет границ"
              width="370"
              height="294"
            />
            <p class="projects-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="projects-works">
            <h2 class="projects-title">Inspiration has no Borders</h2>
            <p class="projects-type">Веб-сайт</p>
          </div>
        </a>
      </li>
      <li class="projects-item">
        <a href="">
          <div class="projects-thumb">
            <img
              src="./images/limited-editionopti.jpg"
              class="progects-image"
              alt=" издание ограниченный выпуск"
              width="370"
              height="294"
            />
            <p class="projects-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="projects-works">
            <h2 class="projects-title">Издание Limited Edition</h2>
            <p class="projects-type">Дизайн</p>
          </div>
        </a>
      </li>
      <li class="projects-item">
        <a href="">
          <div class="projects-thumb">
            <img
              src="./images/labopti.jpg"
              class="projects-image"
              alt="проект ЛАБ"
              width="370"
              height="294"
            />
            <p class="projects-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="projects-works">
            <h2 class="projects-title">Проект LAB</h2>
            <p class="projects-type">Маркетинг</p>
          </div>
        </a>
      </li>
      <li class="projects-item">
        <a href="">
          <div class="projects-thumb">
            <img
              src="./images/growing-businessopti.jpg"
              class="projects-image"
              alt="Растущий бизнес"
              width="370"
              height="294"
            />
            <p class="projects-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="projects-works">
            <h2 class="projects-title">Growing Business</h2>
            <p class="projects-type">Приложение</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
