<section class="section">
  <div class="container">
    <h1 class="hidden">портфолио</h1>
    <ul class="buttons list">
      <li class="buttons-item">
        <button class="buttons-portfolio" type="button">Все</button>
      </li>
      <li class="buttons-item">
        <button class="buttons-portfolio" type="button">Веб-сайты</button>
      </li>
      <li class="buttons-item">
        <button class="buttons-portfolio" type="button">
          Приложения
        </button>
      </li>
      <li class="buttons-item">
        <button class="buttons-portfolio" type="button">Дизайн</button>
      </li>
      <li class="buttons-item">
        <button class="buttons-portfolio" type="button">Маркетинг</button>
      </li>
    </ul>
    <ul class="projects list">
      <li class="projects-item">
        <a href="">
          <div class="projects-thumb">
            <picture>
              <source
                srcset="./images/tehno-m.jpg 1х, 
            ./images/tehno-m@2x.jpg 2x"
                media="(max-width: 767px)"
              />
              <source
                srcset="./images/tehno-t.jpg 1х, 
            ./images/tehno-t@2x.jpg 2x"
                media="(max-width:1199px)"
              />
              <source
                srcset="./images/tehno.jpg 1х, 
            ./images/tehno@2x.jpg 2x"
                media="(min-width: 1200px)"
              />
              <img src="./images/tehno.jpg" alt="Технокряк" />
            </picture>
            <!-- <img
              src="./images/tehno.jpg"
              class="projects-image"
              alt="технокряк"
              width="370"
              height="294"
            /> -->
            <p class="projects-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="projects-works">
            <h2 class="projects-title">Технокряк</h2>
            <p class="projects-type">Веб-сайт</p>
          </div>
        </a>
      </li>
      <li class="projects-item">
        <a href="">
          <div class="projects-thumb">
            <picture>
              <source
                srcset="./images/new-orlean-m.jpg 1х, 
            ./images/new-orlean-m@2x.jpg 2x"
                media="(max-width: 767px)"
              />
              <source
                srcset="./images/new-orlean-t.jpg 1х, 
            ./images/new-orlean-t@2x.jpg 2x"
                media="(max-width:1199px)"
              />
              <source
                srcset="./images/new-orlean.jpg 1х, 
            ./images/new-orlean@2x.jpg 2x"
                media="(min-width: 1200px)"
              />
              <img src="./images/new-orlean.jpg" alt="постер Нью Орлеан" />
            </picture>
            <!-- <img
              src="./images/new-orlean.jpg"
              class="projects-image"
              alt="постер Нью Орлеан"
              width="370"
              height="294"
            /> -->
            <p class="projects-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="projects-works">
            <h2 class="projects-title">
              Постер New Orlean vs Golden Star
            </h2>
            <p class="projects-type">Дизайн</p>
          </div>
        </a>
      </li>
      <li class="projects-item">
        <a href="">
          <div class="projects-thumb">
            <picture>
              <source
                srcset="./images/seafood-m.jpg 1х, 
            ./images/seafood-m@2x.jpg 2x"
                media="(max-width: 767px)"
              />
              <source
                srcset="./images/seafood-t.jpg 1х, 
            ./images/seafood-t@2x.jpg 2x"
                media="(max-width:1199px)"
              />
              <source
                srcset="./images/seafood.jpg 1х, 
            ./images/seafood@2x.jpg 2x"
                media="(min-width: 1200px)"
              />
              <img src="./images/seafood.jpg" alt="ресторан морепродукты" />
            </picture>
            <!-- <img
              src="./images/seafood.jpg"
              class="projects-image"
              alt="ресторан морепродукты"
              width="370"
              height="294"
            /> -->
            <p class="projects-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="projects-works">
            <h2 class="projects-title">Ресторан Seafood</h2>
            <p class="projects-type">Приложение</p>
          </div>
        </a>
      </li>
      <li class="projects-item">
        <a href="">
          <div class="projects-thumb">
            <picture>
              <source
                srcset="./images/headphones-m.jpg 1х, 
            ./images/headphones-m@2x.jpg 2x"
                media="(max-width: 767px)"
              />
              <source
                srcset="./images/headphones-t.jpg 1х, 
            ./images/headphones-t@2x.jpg 2x"
                media="(max-width:1199px)"
              />
              <source
                srcset="./images/headphones.jpg 1х, 
            ./images/headphones@2x.jpg 2x"
                media="(min-width: 1200px)"
              />
              <img src="./images/headphones.jpg" alt="проект Прайм" />
            </picture>
            <!-- <img
              src="./images/headphones.jpg"
              class="projects-image"
              alt="проект Прайм"
              width="370"
              height="294"
            /> -->
            <p class="projects-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="projects-works">
            <h2 class="projects-title">Проект Prime</h2>
            <p class="projects-type">Маркетинг</p>
          </div>
        </a>
      </li>
      <li class="projects-item">
        <a href="">
          <div class="projects-thumb">
            <picture>
              <source
                srcset="./images/boxes-m.jpg 1х, 
            ./images/boxes-m@2x.jpg 2x"
                media="(max-width: 767px)"
              />
              <source
                srcset="./images/boxes-t.jpg 1х, 
            ./images/boxes-t@2x.jpg 2x"
                media="(max-width:1199px)"
              />
              <source
                srcset="./images/boxes.jpg 1х, 
            ./images/boxes@2x.jpg 2x"
                media="(min-width: 1200px)"
              />
              <img src="./images/boxes.jpg" alt="проект коробки" />
            </picture>
            <!-- <img
              src="./images/boxes.jpg"
              class="projects-image"
              alt="проект коробки"
              width="370"
              height="294"
            /> -->
            <p class="projects-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="projects-works">
            <h2 class="projects-title">Проект Boxes</h2>
            <p class="projects-type">Приложение</p>
          </div>
        </a>
      </li>
      <li class="projects-item">
        <a href="">
          <div class="projects-thumb">
            <picture>
              <source
                srcset="./images/designdecision-m.jpg 1х, 
            ./images/designdecision-m@2x.jpg 2x"
                media="(max-width: 767px)"
              />
              <source
                srcset="./images/designdecision-t.jpg 1х, 
            ./images/designdecision-t@2x.jpg 2x"
                media="(max-width:1199px)"
              />
              <source
                srcset="./images/designdecision.jpg 1х, 
            ./images/designdecision@2x.jpg 2x"
                media="(min-width: 1200px)"
              />
              <img
                src="./images/designdecision.jpg"
                alt="Вдохновение не имеет границ"
              />
            </picture>
            <!-- <img
              src="./images/inspiration-has-no-borders.jpg"
              class="projects-image"
              alt="Вдохновение не имеет границ"
              width="370"
              height="294"
            /> -->
            <p class="projects-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="projects-works">
            <h2 class="projects-title">Inspiration has no Borders</h2>
            <p class="projects-type">Веб-сайт</p>
          </div>
        </a>
      </li>
      <li class="projects-item">
        <a href="">
          <div class="projects-thumb">
            <picture>
              <source
                srcset="./images/limited-edition-m.jpg 1х, 
            ./images/limited-edition-m@2x.jpg 2x"
                media="(max-width: 767px)"
              />
              <source
                srcset="./images/limited-edition-t.jpg 1х, 
            ./images/limited-edition-t@2x.jpg 2x"
                media="(max-width:1199px)"
              />
              <source
                srcset="./images/limited-edition.jpg 1х, 
            ./images/limited-edition@2x.jpg 2x"
                media="(min-width: 1200px)"
              />
              <img
                src="./images/limited-edition.jpg"
                alt="издание ограниченный выпуск"
              />
            </picture>
            <!-- <img
              src="./images/limited-edition.jpg"
              class="progects-image"
              alt=" издание ограниченный выпуск"
              width="370"
              height="294"
            /> -->
            <p class="projects-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="projects-works">
            <h2 class="projects-title">Издание Limited Edition</h2>
            <p class="projects-type">Дизайн</p>
          </div>
        </a>
      </li>
      <li class="projects-item">
        <a href="">
          <div class="projects-thumb">
            <picture>
              <source
                srcset="./images/lab-m.jpg 1х, 
            ./images/lab-m@2x.jpg 2x"
                media="(max-width: 767px)"
              />
              <source
                srcset="./images/lab-t.jpg 1х, 
            ./images/lab-t@2x.jpg 2x"
                media="(max-width:1199px)"
              />
              <source
                srcset="./images/lab.jpg 1х, 
            ./images/lab@2x.jpg 2x"
                media="(min-width: 1200px)"
              />
              <img src="./images/lab.jpg" alt="проект ЛАБ" />
            </picture>
            <!-- <img
              src="./images/lab.jpg"
              class="projects-image"
              alt="проект ЛАБ"
              width="370"
              height="294"
            /> -->
            <p class="projects-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="projects-works">
            <h2 class="projects-title">Проект LAB</h2>
            <p class="projects-type">Маркетинг</p>
          </div>
        </a>
      </li>
      <li class="projects-item">
        <a href="">
          <div class="projects-thumb">
            <picture>
              <source
                srcset="./images/laptop-m.jpg 1х, 
            ./images/laptop-m@2x.jpg 2x"
                media="(max-width: 767px)"
              />
              <source
                srcset="./images/laptop-t.jpg 1х, 
            ./images/laptop-t@2x.jpg 2x"
                media="(max-width:1199px)"
              />
              <source
                srcset="./images/laptop.jpg 1х, 
            ./images/laptop@2x.jpg 2x"
                media="(min-width: 1200px)"
              />
              <img src="./images/laptop.jpg" alt="Растущий бизнес" />
            </picture>
            <!-- <img
              src="./images/growing-business.jpg"
              class="projects-image"
              alt="Растущий бизнес"
              width="370"
              height="294"
            /> -->
            <p class="projects-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="projects-works">
            <h2 class="projects-title">Growing Business</h2>
            <p class="projects-type">Приложение</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
