<section class="team section">
  <div class="container">
    <h2 class="section-title">Наша команда</h2>
    <ul class="section-list list">
      <li class="team-item">
        <div class="team-image">
          <img src="./images/team/nikolay.jpg" alt="name" />
        </div>
        <div class="team-info">
          <h3 class="team-name">Николай Кучеренко</h3>
          <p class="position">Product Designer</p>
          <ul class="socials list">
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на instagram">
                <svg class="icon">
                  <use href="./images/sprite.svg#icon-instagramw"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на twitter"
                ><svg class="icon">
                  <use href="./images/sprite.svg#icon-twitterw"></use></svg
              ></a>
            </li>
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на instagram">
                <svg class="icon">
                  <use href="./images/sprite.svg#icon-facebookw"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на instagram">
                <svg class="icon">
                  <use href="./images/sprite.svg#icon-linkedinw"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="team-image">
          <img src="./images/team/olha.jpg" alt="name" />
        </div>
        <div class="team-info">
          <h3 class="team-name">Ольга Иванова</h3>
          <p class="position">Frontend Developer</p>
          <ul class="socials list">
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на instagram">
                <svg class="icon">
                  <use href="./images/sprite.svg#icon-instagramw"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на twitter"
                ><svg class="icon">
                  <use href="./images/sprite.svg#icon-twitterw"></use></svg
              ></a>
            </li>
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на instagram">
                <svg class="icon">
                  <use href="./images/sprite.svg#icon-facebookw"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на instagram">
                <svg class="icon">
                  <use href="./images/sprite.svg#icon-linkedinw"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="team-image">
          <img src="./images/team/andrey.jpg" alt="name" />
        </div>
        <div class="team-info">
          <h3 class="team-name">Андрей Шевченко</h3>
          <p class="position">Marketing</p>
          <ul class="socials list">
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на instagram">
                <svg class="icon">
                  <use href="./images/sprite.svg#icon-instagramw"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на twitter"
                ><svg class="icon">
                  <use href="./images/sprite.svg#icon-twitterw"></use></svg
              ></a>
            </li>
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на instagram">
                <svg class="icon">
                  <use href="./images/sprite.svg#icon-facebookw"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на instagram">
                <svg class="icon">
                  <use href="./images/sprite.svg#icon-linkedinw"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="team-image">
          <img src="./images/team/ivan.jpg" alt="name" />
        </div>
        <div class="team-info">
          <h3 class="team-name">Иван Николаев</h3>
          <p class="position">UI Designer</p>
          <ul class="socials list">
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на instagram">
                <svg class="icon">
                  <use href="./images/sprite.svg#icon-instagramw"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на twitter"
                ><svg class="icon">
                  <use href="./images/sprite.svg#icon-twitterw"></use></svg
              ></a>
            </li>
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на instagram">
                <svg class="icon">
                  <use href="./images/sprite.svg#icon-facebookw"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на instagram">
                <svg class="icon">
                  <use href="./images/sprite.svg#icon-linkedinw"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
