<section class="team section">
  <div class="container">
    <h2 class="section-title">Наша команда</h2>
    <ul class="section-list list">
      <li class="team-item">
        <div class="team-image">
          <picture>
            <source
              srcset="./images/team/nikolay-m.jpg 1х, 
            ./images/team/nikolay-m@2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <source
              srcset="./images/team/nikolay-t.jpg 1х, 
            ./images/team/nikolay-t@2x.jpg 2x"
              media="(max-width:1199px)"
            />
            <source
              srcset="./images/team/nikolay.jpg 1х, 
            ./images/team/nikolay@2x.jpg 2x"
              media="(min-width: 1200px)"
            />
            <img src="./images/team/nikolay.jpg" alt="Имя" />
          </picture>
          <!-- <img src="./images/team/nikolay.jpg" alt="name" /> -->
        </div>
        <div class="team-info">
          <h3 class="team-name">Николай Кучеренко</h3>
          <p class="position">Product Designer</p>
          <ul class="socials list">
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на instagram">
                <svg class="icon">
                  <use href="./images/sprite.svg#icon-instagramw"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на twitter"
                ><svg class="icon">
                  <use href="./images/sprite.svg#icon-twitterw"></use></svg
              ></a>
            </li>
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на instagram">
                <svg class="icon">
                  <use href="./images/sprite.svg#icon-facebookw"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на instagram">
                <svg class="icon">
                  <use href="./images/sprite.svg#icon-linkedinw"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="team-image">
          <picture>
            <source
              srcset="./images/team/olha-m.jpg 1х, 
            ./images/team/olha-m@2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <source
              srcset="./images/team/olha-t.jpg 1х, 
            ./images/team/olha-t@2x.jpg 2x"
              media="(max-width:1199px)"
            />
            <source
              srcset="./images/team/olha.jpg 1х, 
            ./images/team/olha@2x.jpg 2x"
              media="(min-width: 1200px)"
            />
            <img src="./images/team/olha.jpg" alt="Имя" />
          </picture>
          <!-- <img src="./images/team/olha.jpg" alt="name" /> -->
        </div>
        <div class="team-info">
          <h3 class="team-name">Ольга Иванова</h3>
          <p class="position">Frontend Developer</p>
          <ul class="socials list">
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на instagram">
                <svg class="icon">
                  <use href="./images/sprite.svg#icon-instagramw"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на twitter"
                ><svg class="icon">
                  <use href="./images/sprite.svg#icon-twitterw"></use></svg
              ></a>
            </li>
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на instagram">
                <svg class="icon">
                  <use href="./images/sprite.svg#icon-facebookw"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на instagram">
                <svg class="icon">
                  <use href="./images/sprite.svg#icon-linkedinw"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="team-image">
          <picture>
            <source
              srcset="./images/team/andrey-m.jpg 1х, 
            ./images/team/andrey-m@2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <source
              srcset="./images/team/andrey-t.jpg 1х, 
            ./images/team/andrey-t@2x.jpg 2x"
              media="(max-width:1199px)"
            />
            <source
              srcset="./images/team/andrey.jpg 1х, 
            ./images/team/andrey@2x.jpg 2x"
              media="(min-width: 1200px)"
            />
            <img src="./images/team/andrey.jpg" alt="Имя" />
          </picture>
          <!-- <img src="./images/team/andrey.jpg" alt="name" /> -->
        </div>
        <div class="team-info">
          <h3 class="team-name">Андрей Шевченко</h3>
          <p class="position">Marketing</p>
          <ul class="socials list">
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на instagram">
                <svg class="icon">
                  <use href="./images/sprite.svg#icon-instagramw"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на twitter"
                ><svg class="icon">
                  <use href="./images/sprite.svg#icon-twitterw"></use></svg
              ></a>
            </li>
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на instagram">
                <svg class="icon">
                  <use href="./images/sprite.svg#icon-facebookw"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на instagram">
                <svg class="icon">
                  <use href="./images/sprite.svg#icon-linkedinw"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="team-image">
          <picture>
            <source
              srcset="./images/team/ivan-m.jpg 1х, 
            ./images/team/ivan-m@2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <source
              srcset="./images/team/ivan-t.jpg 1х, 
            ./images/team/ivan-t@2x.jpg 2x"
              media="(max-width:1199px)"
            />
            <source
              srcset="./images/team/ivan.jpg 1х, 
            ./images/team/ivan@2x.jpg 2x"
              media="(min-width: 1200px)"
            />
            <img src="./images/team/ivan.jpg" alt="Имя" />
          </picture>
          <!-- <img src="./images/team/ivan.jpg" alt="name" /> -->
        </div>
        <div class="team-info">
          <h3 class="team-name">Иван Николаев</h3>
          <p class="position">UI Designer</p>
          <ul class="socials list">
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на instagram">
                <svg class="icon">
                  <use href="./images/sprite.svg#icon-instagramw"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на twitter"
                ><svg class="icon">
                  <use href="./images/sprite.svg#icon-twitterw"></use></svg
              ></a>
            </li>
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на instagram">
                <svg class="icon">
                  <use href="./images/sprite.svg#icon-facebookw"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a href="" class="socials-icon" aria-label="ссылка на instagram">
                <svg class="icon">
                  <use href="./images/sprite.svg#icon-linkedinw"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
