// .backdrop-menu {
//     width: 100%;
//     margin-left: auto;
// }

// .modal-menu {
//   display: flex;
//   flex-grow: 1;
//   justify-content: space-between;
//     width: 100%;
// }

.menu-button {
  display: inline-flex;
  margin: 0;
  //   margin-left: 270px;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }

  & .icon-close {
    display: none;
  }

  & .icon-menu:hover {
    fill: $accent-color;
  }

  &.is-open .icon-close {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }

  &.is-open .icon-close:hover {
    fill: $accent-color;
  }
}

.menu-container {
  background-color: #fff;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    z-index: 5;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    // flex-grow: 1;
    // justify-content: space-between;
    align-items: center;
  }

  &.is-open {
    display: block;
  }
}
