.subscribe-form input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  width: 358px;
  letter-spacing: 0.03em;
  padding: 15px 16px;
  margin-right: 12px;
  color: rgba(255, 255, 255, 0.6);

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.subscribe-button::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-image: url(../images/send.svg);
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
