.advantages-icon {
  @extend %inline-flex;
  width: 100%;
  height: 120px;
  // box-sizing: border-box;
  border-radius: 4px;
  background-color: $secondary-background-color;
  margin-bottom: 30px;
}
