.header-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 85px;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.site-nav .item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $title-text-color;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.link.current {
  color: $accent-color;

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
