.projects {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.projects-item {
  margin: 15px;
  border: 1px solid #eeeeee;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 3 * 30px) / 3);
  }

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }

  &:hover .projects-text,
  &:focus .projects-text {
    opacity: 1;
    transform: translateY(-100%);
  }
}

.projects-thumb {
  position: relative;
  overflow: hidden;
}

.projects-works {
  padding: 20px 24px;
}

.projects-title {
  margin-bottom: 4px;

  color: $title-text-color;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-type {
  font-size: 16px;
  line-height: 1.87;
  color: $primary-text-color;
}

.projects-text {
  color: $primary-white-color;

  font-size: 18px;
  line-height: 1.56;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;

  left: 0;
  top: 100%;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
