.hero {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../images/headeroptamiz.jpg");
  background-size: cover;

  @media screen and (max-width: 1199px) {
    max-width: 100%;
    height: 400px;
  }

  // @media screen and (min-width: 768px) {
  //   max-width: 768px;
  //   height: 400px;
  // }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: $primary-white-color;

  font-weight: 900;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 480px) {
    font-size: 26px;
    line-height: 1.62;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-content {
  margin: auto;

  @media screen and (min-width: 480px) {
    max-width: 360px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 696px;
  }
}
