footer {
  background-color: #2f303a;
}

.footer-list {
  @extend %flexbox;
}

.subscribe {
  @media screen and (min-width: 480px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-top: 0;
  }
}

.container-footer {
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
